<p id="notice"><%= notice %></p>

<h1>Picture Blogs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @picture_blogs.each do |picture_blog| %>
      <tr>
        <td><%= picture_blog.title %></td>
        <td><%= picture_blog.content %></td>
        <td><%= picture_blog.image %></td>
        <td><%= link_to 'Show', picture_blog %></td>
        <td><%= link_to 'Edit', edit_picture_blog_path(picture_blog) %></td>
        <td><%= link_to 'Destroy', picture_blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Picture Blog', new_picture_blog_path %>
